@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.explore {
  background: var(
    --primary-101,
    linear-gradient(257deg, #0698f9 13.5%, #f906f9 87.25%)
  );
}
.a {
  transform: rotate(39.184deg);
  background: var(
    --primary-101,
    linear-gradient(257deg, #0698f9 13.5%, #f906f9 87.25%)
  );
}
.price {
  background: linear-gradient(
      0deg,
      rgba(23, 23, 25, 0.1) 0%,
      rgba(23, 23, 25, 0.1) 100%
    ),
    linear-gradient(
      276deg,
      rgba(20, 161, 255, 0.5) 13.18%,
      rgba(245, 61, 245, 0.5) 93.73%
    );
}
.gradient-text {
  background: var(
    --primary-101,
    linear-gradient(257deg, #0698f9 13.5%, #f906f9 100.25%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
